head
    script(src="main.js")
    link(rel="stylesheet",type="text/css",href="main.css")
body
    center
        table(style="margin:100px 0px",cellpadding="20px")
            tr
                td.blue.bigpill#balance(colspan="2",style="height:100px; font-size:72px") [ Server reply will go here ]
            tr
                td.grey.bigpill#msg(colspan="2",style="display:none") 
            tr#notloggedin
                td(colspan="2",style="text-align:center")
                    input#name(type="text",placeholder="Name")
                    br
                    input#pass(type="text",placeholder="Password")
                    br
                    button(onclick="Login()") Login
            tr#loggedin(style="display:none")
                td
                    div#addresses
                    button(onclick="GetAddress()")  Get address
                td
                    input#to(type="text",placeholder="Address")
                    br
                    input#value(type="text",placeholder="Value")
                    br
                    button(onclick="Send()") Send
            
