head
    script(src="angular.min.js")
    script(src="helps.js")
    script(src="util.js")
    script(src="multigui.js")
    link(rel="stylesheet",type="text/css",href="bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="main.css")
body(ng-app="multigui"): div(ng-controller="MultiguiCtrl")
    table.tb.lightblue: tr
        td(style="width:20%; vertical-align: top; padding-top: 65px")
            div.tabselect(ng-click="activetab = 0",ng-class="{ semilightblue: activetab == 0}") Generate address
            div.tabselect(ng-click="activetab = 1",ng-class="{ semilightblue: activetab == 1}") Create transaction
            div.tabselect(ng-click="activetab = 2",ng-class="{ semilightblue: activetab == 2}") Sign transaction
        td(style="width:80%; padding: 25px 25px 25px 0px; vertical-align:middle")
            div.white.pill(style="height: 100%")
                div(ng-show="activetab == 0")
                    table.tb(cellpadding="20px"): tr
                        td(style="width:40%")
                            div(ng-repeat="i in [0,1,2,3,4]",style="position:relative")
                                .help(ng-hide="hidehelp",ng-click="help('pubkey')") ?
                                input.fullwidth(type="text",placeholder="Pubkey",ng-model="msiginp.pubkeys[i]")
                                br
                            input.fullwidth(type="text",placeholder="Sigs required to spend (number)",ng-model="msiginp.k")
                            br
                        td(style="width:60%")
                            table.tb(cellpadding="8px",style="height:100px")
                                tr
                                    td.td-label Address
                                    td {{ msig.address }}
                                tr
                                    td.td-label
                                        .help(style="top: 7px",ng-hide="hidehelp",ng-click="help('script')") ?
                                        span Script
                                    td.monospace {{ msig.raw }}
                                //tr
                                //    td(style="width:80px") Pubkeys
                                //    td
                                //        div.monospace(ng-repeat="pub in msig.pubs",style="margin:5px 0") {{ pub }}
                                tr
                                    td.td-label Sigs
                                    td {{ msig.k }}
                                tr
                                    td.td-label Balance
                                    td {{ balance | number:5 }}
                            button.btn(ng-show="balance >= 0.0002",ng-click="activetab = 1") Send from this address
                div(ng-show="activetab == 1")
                    table.tb(cellpadding="20px"): tr
                        td(style="width:40%")
                            input.fullwidth(type="text",placeholder="From",ng-model="msig.address")
                            br
                            div(style="position:relative")
                                .help(ng-hide="hidehelp",ng-click="help('script')") ?
                                textarea.monospace.fullwidth(placeholder="Script",ng-model="msig.raw",style="height:60px !important")
                            br
                            input.fullwidth(type="text",placeholder="To",ng-model="tx.to")
                            br
                            input(type="text",style="width:50%",placeholder="Value",ng-model="tx.value")
                            span.raise4(ng-show="balance > 0") Available: {{ balance - 0.0001 | number:5 }}
                            span.raise4(ng-show="balance == 0") Available: 0
                            span.raise4(ng-show="balance == 'Retrieving...'") Retrieving balance
                            br
                            button.btn(ng-click="mktx()") Make transaction
                        td(style="width:50%")
                            div.fullheight(style="position:relative")
                                .help(ng-hide="hidehelp",ng-click="help('eto')") ?
                                textarea.semilightblue.fullheight.fullwidth.monospace(placeholder="ETO",ng-model="inputeto")
                div(ng-show="activetab == 2")
                    table.tb(cellpadding="20px"): tr
                        td.tabwindow
                            div.tabheader
                                .pill.tabselect(ng-click="showbox=0",ng-class="{semilightblue: !showbox}") ETO
                                .pill.tabselect(ng-click="showbox=1",ng-class="{semilightblue: showbox == 1}") Transaction
                                .pill.tabselect(ng-click="showbox=2",ng-class="{semilightblue: showbox == 2}") Signatures
                                .pill.tabselect(ng-click="showbox=3",ng-class="{semilightblue: showbox == 3}") SX Instructions
                            div.tabbody(ng-show="!showbox")
                                .help(ng-hide="hidehelp",ng-click="help('eto')") ?
                                textarea.semilightblue.pill.monospace.fullheight.fullwidth(type="text",onclick="this.select()",placeholder="ETO",ng-model="inputeto")
                            div.monospace.tabbody(ng-show="showbox == 1")
                                div(style="overflow-y:auto; max-height:80%") {{ eto.tx }}
                            div.monospace.tabbody(ng-show="showbox == 2")
                                div(style="overflow-y:auto; max-height:80%")
                                    .squish(style="margin: 5px 0px",ng-repeat="sig in etosigs") {{ sig }}
                            div.monospace.tabbody(ng-show="showbox == 3")
                                div(style="overflow-y:auto; max-height:80%; margin-bottom: 5%")
                                    div.cmdline(ng-repeat="i in instructions") {{ i }}
                                    div(ng-show="instrpubkey && !instructions") You already signed all your inputs!
                                input(type="text",placeholder="My public key",ng-model="instrpubkey")
                        td
                            table(style="width:100%")
                                tr
                                    td
                                    td
                                    td.monospace(ng-repeat="(i,inp) in eto.inputscripts",style="position: relative; left: 3px") {{ i }}
                                tr(ng-repeat="(pub,sigs) in etosigarray")
                                    td.monospace.td-wide-label {{ pub.substring(0,16) }}
                                    td
                                    td(ng-repeat="sig in sigs")
                                        img.txcheckbox(src="check.png",ng-show="sig == 1")
                                        img.txcheckbox(src="uncheck.png",ng-show="sig == -1")
                                        img.txcheckbox(src="green.png",ng-show="sig == 2")
                                        div.txcheckbox(ng-hide="sig")
                                tr(style="height:30px")
                                tr(style="height:30px")
                                    td(colspan="200")
                                        .help(ng-hide="hidehelp",ng-click="help('privkey')") ?
                                        input(type="text",placeholder="Private key",ng-model="pk",style="width:70%")
                                        button.btn.raise4(ng-click="sign()") Sign
                                tr
                                    td(colspan="200")
                                        .help(ng-hide="hidehelp",ng-click="help('sig')") ?
                                        textarea.signature(style="width:70%",ng-model="sig",placeholder="Signature")
                                        button.btn.raise4.squish(style="width:25%; margin-left: 5%",ng-click="apply()") Apply external signature
                                tr
                                    td(colspan="200")
                                        button.btn(ng-show="etofullysigned",ng-click="push()") Push
    .modal(ng-show="message.body || message.title")
        .modal-header {{ message.title }}
            span(style="float:right",ng-click="message = null") x
        .modal-body(style="text-align:justify") {{ message.body }}
            img(style="float:right",ng-show="message.loading",src="inprogress.gif")
        .modal-footer
            button.btn(ng-show="message.actiontext",ng-click="message.action()") {{ message.actiontext }}
            button.btn(ng-click="message = null") Close
