head
    script(src="angular.min.js")
    script(src="util.js")
    script(src="multigui.js")
    link(rel="stylesheet",type="text/css",href="bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="main.css")
body(ng-app="multigui")
    table.tb.lightblue(ng-controller="MultiguiCtrl"): tr
        td(style="width:25%; vertical-align: top; padding-top: 65px")
            div.tabselect(ng-click="activetab = 0",ng-class="{ semilightblue: activetab == 0}") Generate address
            div.tabselect(ng-click="activetab = 1",ng-class="{ semilightblue: activetab == 1}") Create transaction
            div.tabselect(ng-click="activetab = 2",ng-class="{ semilightblue: activetab == 2}") Sign transaction
        td(style="width:75%; padding: 25px 25px 25px 0px; vertical-align:middle")
            div.white.pill(style="height: 100%")
                div(ng-show="activetab == 0")
                    table.tb(cellpadding="20px"): tr
                        td(style="width:40%")
                            div(ng-repeat="i in [0,1,2,3,4]")
                                input.textinput.fullwidth(type="text",placeholder="Pubkey",ng-model="msiginp.pubkeys[i]")
                                br
                            input.textinput.fullwidth(type="text",placeholder="Sigs required to spend",ng-model="msiginp.k")
                            br
                        td(style="width:60%; position:relative")
                            table.tb(cellpadding="8px",style="height:100px")
                                tr
                                    td.td-label Address
                                    td {{ msig.address }}
                                tr
                                    td.td-label Script
                                    td.monospace {{ msig.raw }}
                                //tr
                                //    td(style="width:80px") Pubkeys
                                //    td
                                //        div.monospace(ng-repeat="pub in msig.pubs",style="margin:5px 0") {{ pub }}
                                tr
                                    td.td-label Sigs
                                    td {{ msig.k }}
                                tr
                                    td.td-label Balance
                                    td {{ balance }}
                            button.btn(ng-show="balance >= 0.0002",ng-click="activetab = 1") Send from this address
                div(ng-show="activetab == 1")
                    table.tb(cellpadding="20px"): tr
                        td(style="width:40%")
                            input.textinput.fullwidth(type="text",placeholder="From (address or txhash:index)",ng-model="msig.address")
                            br
                            textarea.textinput.monospace.fullwidth(type="text",placeholder="Script",ng-model="msig.raw",style="height:60px !important")
                            br
                            input.textinput.fullwidth(type="text",placeholder="To",ng-model="tx.to")
                            br
                            input.textinput.fullwidth(type="text",placeholder="Value",ng-model="tx.value")
                            br
                            input.textinput.fullwidth(type="text",placeholder="Private key (optional)",ng-model="tx.pk")
                            br
                            button.btn(ng-click="mktx()") Make transaction
                        td(style="width:50%")
                            textarea.semilightblue.bigpill.monospace(type="text",height="80%",placeholder="ETO",cols="80",style="height: 100%",ng-model="inputeto")
                div(ng-show="activetab == 2")
                    table.tb(cellpadding="20px"): tr
                        td(style="position:relative")
                            div(style="position:absolute; top: 20px; height: 40px")
                                .pill.tabselect(ng-click="showbox=0",style="display:inline-block",ng-class="{semilightblue: !showbox}") Basic
                                .pill.tabselect(ng-click="showbox=1",style="display:inline-block",ng-class="{semilightblue: showbox == 1}") Transaction
                                .pill.tabselect(ng-click="showbox=2",style="display:inline-block",ng-class="{semilightblue: showbox == 2}") SX Instructions
                            textarea.semilightblue.pill.monospace(type="text",onclick="this.select()",placeholder="ET",style="position:absolute; top: 70px; left: 20px; bottom: 10px; width: 93%",ng-model="inputeto",ng-show="!showbox")
                            div.monospace(style="position:absolute; top: 70px; left: 20px; bottom: 10px; width: 93%",ng-show="showbox == 1") {{ eto.tx }}
                            div.monospace(style="position:absolute; top: 70px; left: 20px; bottom: 10px; width: 93%",ng-show="showbox == 2")
                                div(style="overflow-y:scroll; max-height:80%")
                                    div.cmdline(ng-repeat="i in instructions") {{ i }}
                                input.textinput(type="text",placeholder="My public key",ng-model="instrpubkey")
                        td
                            table(style="width:100%")
                                tr
                                    td
                                    td
                                    td.monospace(ng-repeat="(i,inp) in eto.inputscripts",style="position: relative; left: 3px") {{ i }}
                                tr(ng-repeat="(pub,sigs) in etosigarray")
                                    td.monospace(style="max-width:130px; width:130px;") {{ pub.substring(0,16) }}
                                    td
                                    td(ng-repeat="sig in sigs")
                                        img(src="check.png",style="height:15px; position: relative",ng-show="sig == 1")
                                        img(src="uncheck.png",style="height:15px; position: relative",ng-show="sig == -1")
                                        div(style="width: 17px",ng-hide="sig")
                                tr(style="height:30px")
                                tr(style=" height:30px")
                                    td(colspan="200")
                                        input.textinput(type="text",placeholder="Private key",ng-model="tx.pk",style="width:70%; margin-right:5%")
                                        button.btn(style="position:relative; top: -4px",ng-click="sign()") Sign
                                tr
                                    td(colspan="200")
                                        textarea.textinput.monospace(type="text",style="height:60px !important; width:70%; margin-right: 5%",ng-model="sig",placeholder="Signature")
                                        button.btn(style="font-size: 75%; line-height: 1.2em; width:25%; position:relative; top: -4px",ng-click="apply()") Apply external signature
                                tr
                                    td(colspan="200")
                                        button.btn(ng-show="etofullysigned",ng-click="push()") Push
                                            
            
//            td(width="40%",align="center",style="position:relative")
//                textarea.blue.bigpill.monospace(type="text",placeholder="ETO",rows="25",cols="80",style="line-height:1em",ng-model="inputeto")
//                div.grey.pill(ng-show="message",ng-click="message = ''",style="position: absolute; top: 40%; padding: 3%; left: 20%; width: 54%; z-index: 10; opacity: 0.75; display:table-cell; word-wrap: break-word") {{ message }} 
//            td(align="center")
//                div(ng-repeat="i in [0,1,2,3,4]")
//                    input(type="text",placeholder="Pubkey",ng-model="msiginp.pubkeys[i]")
//                    br
//                input(type="text",placeholder="Sigs required to spend",ng-model="msiginp.k")
//                br
//                button(ng-click="getMultiAddr()") Get multisig address
//            td(align="center")
//                button(ng-click="mktx()") Make transaction
//            td(align="center")
//                div
//        tr
//            td(align="center")
//                span
//                    span Sign index: 
//                    select(type="text",ng-model="selectedindex",ng-options="i for i in indices")
//                div.grey.bigpill.monospace(style="min-height:100px; width:80%; margin-bottom:25px; text-align: left")
//                    div(ng-repeat="instr in instructions[selectedindex]")
//                        div.cmdline {{ instr }}
//            td(align="center")    
//                br
//                input(type="text",placeholder="Private key",ng-model="privkey")
//                br
//                button(ng-click="sign()") Sign transaction
//            td(align="center")
//                textarea(placeholder="Signature",rows="10",cols="35",style="font-size:small; font-family:monospace",ng-model="sig")
//                br
//                button(ng-click="apply()") Apply externally made signature
//            td(align="center")
//                button(ng-click="push()") Push transaction
//        tabs
//            div(data-toggle="tab") 123
//                span qwkjrhqjnh
//            div(data-toggle="tab") 456
//                span wrerryeryery
//            div(data-toggle="tab") 789
//                span qrhejwnsghbfvdgzhbfnm
