.blue {
    background-color: #88f;
}
.grey {
    background-color: #ddd;
}
.bigpill {
    width: 500px;
    max-width: 500px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
}
